/* stylesheet for AVF Test App - Nick Stelzer */

body {
	font-family: Arial, Helvetica, serif;
	background: #11175e;
	padding: 20px 20px 20px 20px;
}

h1 {
	text-shadow: 2px 2px 1px rgba(17, 23, 94, .2);
	text-align: center;
}

h2 {
	text-shadow: 2px 2px 1px rgba(17, 23, 94, .2);
}

.contentBlock {
	background: #ffffff;
	border-radius: 25px;
	margin: 20px 0px 20px 0px;
	padding: 10px 20px 20px 20px;
}

.iconAndText {
	padding: 5px 0px 5px 0px;
}

.iconAndText img {
	padding: 0px 15px 0px 0px;
	vertical-align: middle;
}